

.dark-theme {
    --clr-bcg: #282c35;
    --clr-font: #fff;
    --clr-primary: #ffa7c4;
    --clr-btn:#000;
    --clr-br:#fff;
  }
  
.light-theme {
    --clr-bcg: #fff;
    --clr-font: #282c35;
    --clr-primary: #d23669;
    --clr-btn:#1976d2;
    --clr-br:#000;
  }


.card-content-div, p{
    background-color: var(--clr-bcg) !important;
    color: var(--clr-font) !important;
}




.card-content-div{
    border: 1px solid var(--clr-br);
    box-shadow: var(--clr-font);
}



