
.dark-theme {
    --clr-bcg: #282c35;
    --clr-font: #fff;
    --clr-primary: #ffa7c4;
    --clr-btn:#000;
    --clr-br:#fff;
  }
  
.light-theme {
    --clr-bcg: #fff;
    --clr-font: #282c35;
    --clr-primary: #d23669;
    --clr-btn:#1976d2;
    --clr-br:#000;
  }



.login div, span, label{
color:var(--clr-font) !important;

}

.login-btn {
    background-color: var(--clr-btn) !important;
    color:var(--clr-font) !important;

}

.login-comp{
    border: 1px solid var(--clr-br);
    border-radius: 10px;
    padding: 15px 0px;
}