 @media all and (max-width: 575.98px) {

 }

 @media all and (max-width: 767.98px) {

 }

 @media all and (max-width: 991.98px) {

 }

 @media all and (max-width: 1199.98px) {

 }

 @media  all and (max-width: 1349.98px) {

 }

 @media  all and (max-width: 1999.98px) {

 }

 @media  all and (max-width: 1375px) {

 }

 @media  all and (max-width: 1440px) {

 }



 