
.dark-theme {
    --clr-bcg: #282c35;
    --clr-font: #fff;
    --clr-primary: #ffa7c4;
  }
  
.light-theme {
    --clr-bcg: #fff;
    --clr-font: #282c35;
    --clr-primary: #d23669;
  }


.Table-comp th, tr, td{
background-color: var(--clr-bcg) !important;
color: var(--clr-font) !important;
}